# ---------- tensorflow ---------- #
tensorflow-gpu==2.10
tensorflow==2.10
tensorflow-text==2.10
tensorflow-io==0.27.0
tensorflow-addons==0.19.0
keras==2.10

# ---------- audio ---------- #
sentencepiece
kenlm

# ---------- logger ---------- #
wandb

# ---------- others ---------- #
pyrootutils
hyperpyyaml
numpy
setuptools
tqdm
