# ---------- tensorflow ---------- #
tensorflow-gpu==2.11
tensorflow==2.11
tensorflow-text==2.11
tensorflow-io==0.27.0
tensorflow-addons==0.19.0
keras==2.11

# ---------- audio ---------- #
sentencepiece
pyroomacoustics
audiomentations
kenlm

# ---------- logger ---------- #
wandb

# ---------- others ---------- #
hyperpyyaml
numpy
setuptools
tqdm
